<a href="https://colab.research.google.com/github/rohan-singh987/imageDetection-Loacalization/blob/rohan/imageDetection_Localization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/ayulockin/synthetic_datasets
%cd synthetic_datasets/MNIST/
%mkdir images


!unzip -q MNIST_Converted_Training.zip -d images/
!unzip -q MNIST_Converted_Testing.zip -d images/

Cloning into 'synthetic_datasets'...
remote: Enumerating objects: 42, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 42 (delta 1), reused 1 (delta 1), pack-reused 39
Unpacking objects: 100% (42/42), 42.06 MiB | 9.96 MiB/s, done.
/content/synthetic_datasets/MNIST

In [2]:
%cd ../..

/content

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os import path

In [9]:
S = 'synthetic_datasets'
M = 'MNIST'
I = 'images'


data = pd.read_csv(path.join(S,M,'training_data.csv'), header = None)
columns = ['path', 'class_index', 'xmin', 'ymin', 'xmax', 'ymax']

data.columns = columns

In [10]:
data

                              path  class_index  xmin  ymin  xmax  ymax
0          converted_training1.png            4  0.49  0.15  0.77  0.43
1          converted_training2.png            1  0.64  0.26  0.92  0.54
2          converted_training3.png            0  0.42  0.39  0.70  0.67
3          converted_training4.png            7  0.58  0.10  0.86  0.38
4          converted_training5.png            8  0.21  0.23  0.49  0.51
...                            ...          ...   ...   ...   ...   ...
59995  converted_training59996.png            7  0.32  0.58  0.60  0.86
59996  converted_training59997.png            1  0.48  0.33  0.76  0.61
59997  converted_training59998.png            6  0.22  0.06  0.50  0.34
59998  converted_training59999.png            1  0.39  0.23  0.67  0.51
59999  converted_training60000.png            5  0.16  0.21  0.44  0.49

[60000 rows x 6 columns]